@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

.innerSlider {
	background-image: url(https://i.imgur.com/6pubNrr.jpg);
	background-size: cover;
	width: 1000px;
	height: 605px;
	padding: 30px;
	margin: 20px;
}

.innerCard {
	display: flex;
	position: relative;
	left: 10px;
	width: 600px;
	margin: 0 auto;
	height: 600px;
}
