@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

.innerSlider {
	background-image: url(https://i.imgur.com/6pubNrr.jpg);
	background-size: cover;
	height: 605px;
	padding: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 50%;
	padding: 0px;
	margin-left: 15px;
}

@media screen and (max-width: 480px) {
	.innerSlider {
		background-size: 50%;
	}
}
